@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --toastify-color-success: #313131;
  --toastify-icon-color-success: #ecc94b;
  --toastify-color-transparent: #ecc94b !important;
}

* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}
